html
  head
  body
    nav
      a(href='https://www.roverpass.com')
        img(src='https://svgshare.com/i/jYj.svg')
      p  Error 404: page not found
.sky
  .alert
    h1
      | What a trip! You reached Mars!
      br
      | Please, enjoy the red planet, and then
      a(href='https://www.roverpass.com/p/marketplace')
        button return back!
  #earth
   #earth-surface
       #surface-1.surface
       #surface-2.surface
       #surface-3.surface
       #surface-4.surface
       #surface-5.surface
       #surface-6.surface
       #surface-7.surface
       #surface-8.surface
   #earth-surface-end
       #surface-1.surface
       #surface-2.surface
       #surface-3.surface
       #surface-4.surface
       #surface-5.surface
       #surface-6.surface
       #surface-7.surface
       #surface-8.surface
   #earth-cloud
       #cloud-1.cloud
       #cloud-2.cloud
       #cloud-3.cloud
       #cloud-4.cloud
       #cloud-5.cloud
       #cloud-6.cloud
   #earth-cloud-end
       #cloud-end-1.cloud
       #cloud-end-2.cloud
       #cloud-end-3.cloud
       #cloud-end-4.cloud
   #mask

.mars
   .crater1
   .crater2
   .crater3
   .crater4
   .crater5
   .crater1
   .crater2
   .crater3
   .crater4
   .crater5
   .roverpass
   

