body{
    font-family: 'Outfit', sans-serif;
    background-color:hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    
}
h1 {
    font-size: 15px;
    font-weight: 700;
}

h2 {
    font-size: 10px;
    font-weight:400;
    color:hsl(220, 15%, 55%);
}

.container {
    max-width: 252px;
    margin:0 auto;
    
}

.card{
    background-color: hsl(0, 0%, 100%);
    box-shadow: 3px 3px 6px hsl(220deg 35% 55%);
    padding: 18px;
    border-radius: 17px;
    text-align: center;
    margin: 0 1em;
    transition: transform .2s ease-in;
}

.card:hover{
    transform: scale(1.1); 
}

.card img{
    width: 100%;
    border-radius: 8px;
}

.attribution { 
    padding-top:50px;
    font-size: 11px;
    text-align: center;
 
    
}

.attribution a {
    color: hsl(228, 45%, 44%); 
    text-decoration:none !important;
    
}
.contact-links {
    padding-top:20px;
    display: flex;
    text-align: center; 
}

.contact-links a{
    margin:5px; 
}
.contact-details {
    transition: transform 0.3s ease-out;
}
  
.contact-details:hover {
    transform: translateY(4px);
  }
  